/*Your styles*/

.content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 100vh;
}

.centered-presenter {
    flex-grow: 1;
    display: flex;
    align-self: stretch;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centered-presenter_label {
    text-align: center;
    margin: 8px 36px;
    font-size: 110%;
}

.error-state > #svg-plugin {
    opacity: 0.8;
}

.settings-container {
    flex-grow: 1;
    margin: 0 6px 6px;
    position: relative;
}

.bottombuttons {
    margin: 12px 6px 4px;
}

.bottombuttons .topcoat-checkbox {
    margin: 6px 0 0 0;
}

.divider {
    border-top: 1px solid rgba(0,0,0,0.8);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    width: 100%;
    margin: 12px 0 0 0;
}

.label {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

.label--inline {
    display: inline-block;
    margin: 5px 0 0 0;
    vertical-align: top;
}

.label--disabled {
    opacity: 0.6;
}

.label-placeholder-container {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
}



/*
Those classes will be edited at runtime with values specified
by the settings of the CC application
*/
.hostFontColor{}
.hostFontFamily{}
.hostFontSize{}

/*font family, color and size*/
.hostFont{}
/*background color*/
.hostBgd{}
/*lighter background color*/
.hostBgdLight{}
/*darker background color*/
.hostBgdDark{}
/*background color and font*/
.hostElt{}


.hostButton{
    border:1px solid;
    border-radius:2px;
    height:20px;
    vertical-align:bottom;
    font-family:inherit;
    color:inherit;
    font-size:inherit;
}

/* Bloks helper for SVG fills */
.hostFill{}
.hostStroke{}