/*Your styles*/

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
}

.centered-presenter {
    flex-grow: 1;
    display: flex;
    align-self: stretch;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centered-presenter_label {
    text-align: center;
    margin: 8px 36px;
    font-size: 110%;
}

.error-state > #svg-plugin {
    opacity: 0.8;
}

.empty-state > #svg-group {
    opacity: 0.8;
}

.settings-container {
    flex-grow: 1;
    margin: 0 6px 6px;
}

.settings-container .settings-container_buttons {
    margin: 20px 0 0;
}

.bottombuttons {
    margin: 0 6px 4px;
}



/*
Those classes will be edited at runtime with values specified
by the settings of the CC application
*/
.hostFontColor{}
.hostFontFamily{}
.hostFontSize{}

/*font family, color and size*/
.hostFont{}
/*background color*/
.hostBgd{}
/*lighter background color*/
.hostBgdLight{}
/*darker background color*/
.hostBgdDark{}
/*background color and font*/
.hostElt{}


.hostButton{
    border:1px solid;
    border-radius:2px;
    height:20px;
    vertical-align:bottom;
    font-family:inherit;
    color:inherit;
    font-size:inherit;
}

/* Bloks helper for SVG fills */
.hostFill{}