*.opensdf
*.sdf
*.aps
*.user

/BloksAIPlugin.VC.db
/BloksAIPlugin.VC.VC.opendb

/.vs/
/BloksAIPlugin/x64/
/BloksAIPlugin/Release/

/x64/Debug/
/Debug/

/x64/Release/*
!/x64/Release/BloksAIPlugin.aip

/Release/*
!/Release/BloksAIPlugin.aip

# Xcode specific
/BloksAIPlugin.build/
/output/
/BloksAIPlugin.xcodeproj/*
!/BloksAIPlugin.xcodeproj/project.pbxproj
